:root {
  /* Trying to pick color schemes from here https://htmlcolors.com/color-wheel */
  --primary-background: #33363d;
  --card-background: #3c4650;
  --header-background: #1e1e1e;
  --button-background: #696969;
  --focus: #de328e;
  --focus-clicked: #ab266d;
  --logo-bg: #de328e;
  --work-in-progress: repeating-linear-gradient(
    -45deg,
    #e9fa0067,
    #e9fa0067 10px,
    #09090967 10px,
    #09090967 20px
  );
}

body {
  background-color: var(--primary-background);
}

.App {
  min-height: 100vh;
  background-color: var(--primary-background);
}

.App-header {
  background-color: var(--header-background);
  min-height: 80px;
  max-height: 20vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 1%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .App-header-logo {
  align-self: center;
}

.App-header a {
  padding: 5px;
  border-radius: 3px;
  align-self: center;
  text-decoration: none;
  color: white;
}

.App-header a:hover{
  align-self: center;
  animation: app-header-hover 0.4s forwards;
}

@keyframes app-header-hover {
  from {
    box-shadow: inset 0 0 0px 0px var(--focus);
  }
  to {
    box-shadow: inset 9em 0 0px 1px var(--focus);
    color: #fff;
  }
}

.TextInput {
  background-color: var(--button-background);
  border-color: var(--header-background);
  border-style: solid;
}

.Toolbar {
  min-height: 35px;
  background-color: var(--primary-background);
  color: white;
  font-weight: bold;
  display: inline-flex;
  min-width: 100%;
}

.Toolbar .TextInput {
  @extend .TextInput;
  width: 45%;
  font-size: large;
  font-weight: bold;
}

.Toolbar .CommandOutput {
  @extend .TextInput;
  width: 50%;
  resize: none;
  font-size: large;
  font-weight: bold;
}

.Toolbar .ToolbarButton {
  min-width: 100px;
  background-color: var(--button-background);
  font-weight: bold;
  font-size: large;
}

.Toolbar .ToolbarButton:hover {
  background-color: var(--focus);
}

.Toolbar .ToolbarButton:active {
  background-color: var(--focus-clicked);
}

.Content {
  min-height: 100%;
  min-width: 100%;
  background: var(--work-in-progress);
  /* background-color: var(--primary-background); */
  color: white;
  display: inline-flex;
}

.Card {
  background-color: var(--card-background);
  max-height: 800px;
  margin: 5px;
  padding: 15px;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.349);
  display: flex;
  flex-direction: column;
  justify-items: self-start;
  width: 31%;
  border-radius: 5px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  overflow-x: hidden;
  overflow-y: auto;
}

.MonsterCard {
  @extend .Card;
}

.LootCard {
  @extend .Card;
}

.TurnListCard {
  @extend .Card;
}

.CardTitle {
  font-size: large;
  font-weight: bold;
}

.CardToolbar {
  min-height: 35px;
  max-height: 35px;
  background-color: var(--card-background);
  color: white;
  font-weight: bold;
  display: inline-flex;
  min-width: 100%;
  flex: 100%;
}

.Button {
  background-color: var(--button-background);
}
.Button:hover {
  background-color: var(--focus);
}
.Button:active {
  background-color: var(--focus-clicked);
}

.CardToolbar .ToolbarButton {
  @extend .Button;
  margin: 5px;
  min-width: 100px;
}

.CardToolbar .ToolbarButton:hover {
  margin: 0px;
}

.CardToolbar .ToolbarButton:active {
  margin: 0px;
}

.Subcards {
  justify-items: flex-start;
}

.AddButton {
  margin: 5px;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-width: 50px;
  background-color: var(--button-background);
  align-self: center;
  font-size: larger;
}

.AddButton:hover {
  background-color: var(--focus);
}

.AddButton:active {
  background-color: var(--focus-clicked);
}

.AddCardButton {
  margin: 5px;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  background-color: var(--button-background);
  align-self: center;
  font-size: larger;
}

.AddCardButton:hover {
  background-color: var(--focus);
}

.AddCardButton:active {
  background-color: var(--focus-clicked);
}

.AddXCard {
  border-radius: 5px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  gap: 5px;
  padding: 5px;
  display: grid;
}

.AddMonsterCard {
  @extend .AddXCard;
  grid-template-areas: 
    'name name name name hp hp'
    'xp xp ac ac init init'
    'stag stag stag spell spell spell'
    'status status status status status status'
    'url url url url url url'
    'btn btn btn btn btn btn'
    ;  
}

.AddLootCard {
  @extend .AddXCard;
  grid-template-areas: 
  'name name name name name name'
  'url url url url url url'
  'gp gp class class class class'
  'desc desc desc desc desc desc'
  'btn btn btn btn btn btn'
  ;
}

.AddTurnCard {
  @extend .AddXCard;
  grid-template-areas: 
  'name name'
  'init init'
  'btn btn'
  ;
}

@media (min-width: 260px) and (max-width: 768px) {
  .App-header {
    font-size: calc(10px + 4vmin);
  }
}